params {

  base_dir = System.getProperty('user.dir')
  ref_base = "/home/kothai/cq-git-sample/test_data/rna_test"
  

  // ============================== Input Data ============================== //

  samplesheet = "/home/kothai/cq-git-sample/test_data/data/sample_sheet_new.csv"

  

  // ===================== Variants VCF and Index ========================== //

  known_snps_vcf         = "/home/kothai/cq-git-sample/test_data/new_test/reference/variants_snp.vcf.gz"
  known_snps_vcf_index   = "/home/kothai/cq-git-sample/test_data/new_test/reference/variants_snp.vcf.gz.tbi"

  known_indels_vcf      = "/home/kothai/cq-git-sample/test_data/new_test/reference/variants_indels.vcf.gz"
  known_indels_vcf_index = "/home/kothai/cq-git-sample/test_data/new_test/reference/variants_indels.vcf.gz.tbi"


  // ============================= Reference =============================== //

  reference_genome = "/home/kothai/cq-git-sample/test_data/new_test/reference/genome.fa.gz"
  gtf_annotation        = "/home/kothai/cq-git-sample/test_data/new_test/reference/annotations.gtf.gz"

  // ============================= Tools =================================== //

  snpEff_jar     = "/mnt/d/rna_pipeline_data/data/snpEff/snpEff.jar"
  snpEff_config  = "/mnt/d/rna_pipeline_data/data/snpEff/snpEff.config"
  snpEff_db_dir  = "/mnt/d/rna_pipeline_data/data/snpEff/snpEff/data"
  genomedb       = "GRCh38.86"

  vep_cache      = "/mnt/d/rna_pipeline_data/data/VEP/homo_sapiens_vep_113_GRCh38"

  arriba_dir     = "/mnt/d/rna_pipeline_data/data/ARRIBA/arriba_v2.4.0"
  arriba_blacklist = "/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/test_data/sample_ARRIBA/blacklist_chr22.tsv"
  arriba_known_fusions = "/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/test_data/sample_ARRIBA/known_fusions_chr22.tsv"
  arriba_version = "2.4.0"
  cytobands = ""
  protein_domains = ""

  // ========================= Execution settings ========================== //

  resultsdir = "/home/kothai/cq-git-sample/test_data/rna_test/results"
  cache_dir   = "/home/kothai/cq-git-sample/test_data/rna_test/work"

	scatter_count = 3
	
	
  
}
