// ==========================  CAUTION: Chromosome Naming Consistency ========================== //
// Please ensure all reference files (FASTA, GTF, VCF, BED, interval lists, etc.) use consistent chromosome naming.
// This pipeline expects chromosome names in **numeric format** (e.g., "22") — not UCSC-style (e.g., "chr22").
//
//   Mismatches in contig naming (e.g., "22" vs "chr22") can cause:
//    - Variant calling tools to skip records
//    - Errors during annotation, filtering, or alignment
//    - Unexpected empty results or contig mismatch errors
//
//  Before running the pipeline, validate and standardize chromosome names across:
//    - Reference genome (FASTA + .dict + .fai)
//    - Gene annotations (GTF files)
//    - Known variant VCFs (dbSNP, Mills, etc.)
//    - Intervals and BED files
//	  - Merged_vcf file.(look for headers and also in variant_lists)
//
// Tools like `sed`, `awk`, `bcftools` can help standardize naming conventions.
// ---------------------------------------------------------------------------------------------- //



// ========================== User Parameters Config ========================== //
// This file allows users to override specific parameters without modifying the main configuration.

params {
    // ========================== Base Directories ========================== //
    outdir = "$baseDir/output"
    resultsdir = "$baseDir/results"
    base_dir = "$baseDir"
	build_references = params.build_references ?: false
	build_references_test = params.build_references_test ?: false
	

    // ========================== Dataset Inputs ========================== //
    samplesheet = "/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/samples_test.csv"
	
	// ==========================STAR Aligned reads======================//
    reads = ""
    strandedness_map = []
	
	
	 // ========================== Download URLs ========================== //
    genome_download_url = "ftp://ftp.ensembl.org/pub/release-104/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
    genome_index_download_url = ""
    gtf_download_url = "ftp://ftp.ensembl.org/pub/release-104/gtf/homo_sapiens/Homo_sapiens.GRCh38.104.gtf.gz"
    denylist_download_url = "https://github.com/Boyle-Lab/Blacklist/raw/master/lists/hg38-blacklist.v2.bed.gz"
    variants_snp_download_url = "ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/dbsnp_146.hg38.vcf.gz"
    variants_snp_index_download_url = "ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/dbsnp_146.hg38.vcf.gz.tbi"
    variants_indels_download_url = "ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    variants_indels_index_download_url = "ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"

	
    // ========================== Reference Files ========================== //
    reference_genome_path = ""
    reference_genome_index_path = ""
    reference_genome_dict_path = ""

    reference_genome_gtf = ""
    reference_denylist_path = ""

    // ========================== Variant Calling Reference Files ========================== //
    variants_snp_path = ""
    variants_snp_index_path = ""

    variants_indels_path = ""
    variants_indels_index_path = ""

    star_genome_index_path = ""

    // ========================== Tool Paths ========================== //
    snpeff_jar_dir_path = ""
    snpeff_jar_path = "${params.snpeff_jar_dir_path}/snpEff.jar"
    snpeff_config_path = "${params.snpeff_jar_dir_path}/snpEff.config"
    snpeff_db_dir_path = ""


    // Arriba RNA Fusion Tool
    arriba_tool_dir_path = ""
    arriba_known_fusions = "${baseDir}/sample_ARRIBA/known_fusions_chr22.tsv"
    arriba_blacklist = "${baseDir}/sample_ARRIBA/blacklist_chr22.tsv"
	arriba_version = '2.4.0'

    // VEP Cache Paths
    vep_cache_dir_path = ""
	vep_plugins_dir_path = ""

	//======================VEP configurations=========================//
	
	ensembl_release  = "113"
	genome_assembly  = "GRCh38"
	species          = "homo_sapiens"
	
	


    // ========================== Pipeline Behavior ========================== //
    concatenate = false
    only_qc = false    // If set to true, the pipeline only runs the PREPROCESSING step and exits immediately after QC.
	only_star = false  // If true, the pipeline runs only PREPROCESSING and STAR_ALIGN.
    skip_star = false  // If true, the pipeline skips STAR alignment entirely, assuming pre-aligned BAMs are provided.
	run_fusion = true  // Runs the GENE_FUSION subworkflow (e.g., Arriba) only if STAR outputs are available.
	maftools = true	   // Enables running the MAF_ANALYSIS subworkflow.

    // ========================== Fastp Trimming Config ========================== //
    fastp_extra = "--detect_adapter_for_pe --length_required 50"


    // ========================== STAR Config ========================== //
	
	aligned_bam_samplesheet = null  
	aligned_bam_folder      = null
	star_outdir = "${params.resultsdir}/multiqc_input"
	
    read_length             = 101        // Read length of input data; used for setting --sjdbOverhang = read_length - 1
	star_ignore_sjdbgtf     = false      // If true, skip using the GTF file for splice junctions
	seq_platform            = 'ILLUMINA' // Sequencing platform (used in SAM header: PL tag)
	seq_center              = 'RBCT'     // Sequencing center name (used in SAM header: CN tag)

	// --- Intron alignment parameters ---
	star_alignIntronMin              = 20         // Minimum intron size for alignment
	star_alignIntronMax              = 1000000    // Maximum intron size for alignment

	// --- Splice junction settings ---
	star_alignSJoverhangMin          = 8          // Minimum overhang for a splice junction
	star_alignSJDBoverhangMin        = 1          // Minimum overhang when using annotated junctions from GTF

	// --- Mismatch and alignment filtering ---
	star_outFilterMismatchNmax       = 999        // Maximum number of mismatches (set high to rely on other filters)
	star_outFilterMatchNmin          = 16         // Minimum number of matched bases
	star_outFilterMatchNminOverLread = 0.3        // Minimum matched bases as a fraction of read length
	star_outFilterScoreMinOverLread  = 0.3        // Minimum alignment score as a fraction of read length
	star_mismatchNoverLmax           = 0.04       // Max mismatches per read length (useful for error rate filtering)
	star_outSAMmapqUnique            = 60         // MAPQ score to assign to uniquely mapped reads

	// --- Chimeric read detection (for fusion genes) ---
	star_chimSegmentMin            = 10         // Minimum length of a chimeric segment
	star_chimJunctionOverhangMin  = 10         // Minimum overhang at chimeric junction
	star_chimScoreJunctionNonGTAG = -4         // Penalty for non-GTAG junctions in chimera
	star_chimScoreMin             = 1          // Minimum total chimeric alignment score
	star_chimScoreDropMax         = 50         // Max drop in score to keep alternative chimeric alignment
	star_chimScoreSeparation      = 10         // Minimum score difference between top chimeric alignments

	// --- Extra STAR arguments (optional) ---
	star_extra_args = ''                      // Custom extra STAR options (e.g., '--outSAMattrIHstart 0')

	
    //==========================Intervals list parameters==============//
	scatterintervals = true
    scatter_count = 3
	// ========================== GATK Mark Duplicates ========================== //
    
    remove_duplicates = false
    validation_stringency = "STRICT"

	//============================Snpeff=================================//
	
	genomedb = 'GRCh38.105'
	
	//=============================Annotation_Tools====================//
	
	annotation_tools = ['combine'] 
	
	//===========================ARRIBA visualisation==================//
	
	protein_domains = ""
	cytobands = ""
}

	

// ========================== Process Configuration ========================== //
// ========================== Resource Allocation for Labels ========================== //
process {
    withLabel: 'process_low' {
        cpus = 2
        memory = '8GB'
        time = '4h'
    }
    withLabel: 'process_medium' {
        cpus = 6
        memory = '36GB'
        time = '8h'
    }
    withLabel: 'process_high' {
        cpus = 12
        memory = '40GB'
        time = '16h'
    }
    withLabel: 'process_very_high' {
        cpus = 12
        memory = '40GB'
        time = '24h'
    }
}



// ========================== Custom Process Parameters ========================== //
process {
    withName: 'ANNOTATEVARIANTS_VEP' {
        ext.args = [
            '--fork 4',
            '--everything'
        ].join(' ').trim()
    }
}
