params {


	genome_download_url              = "https://github.com/kothaiRaja/test_data/raw/refs/heads/master/reference_files/genome.fa.gz"
    genome_index_download_url        = ""
    gtf_download_url                 = "https://github.com/kothaiRaja/test_data/raw/refs/heads/master/reference_files/annotations.gtf.gz"
    denylist_download_url            = "https://github.com/Boyle-Lab/Blacklist/raw/master/lists/hg38-blacklist.v2.bed.gz"

  
	base_dir = System.getProperty('user.dir')

				//==============================Blacklist regions======================//

  denylist_bed                   = "/home/kothai/cq-git-sample/test_data/reference/reference/denylist.bed"
  
				//=============================Variants VCF and Index===========================//

  variants_snp                   = "/home/kothai/cq-git-sample/test_data/reference/reference/variants_snp.vcf.gz"
  variants_snp_index             = "/home/kothai/cq-git-sample/test_data/reference/reference/variants_snp.vcf.gz.tbi"

  variants_indels                = "/home/kothai/cq-git-sample/test_data/reference/reference/variants_indels.vcf.gz"
  variants_indels_index          = "/home/kothai/cq-git-sample/test_data/reference/reference/variants_indels.vcf.gz.tbi"

  merged_filtered_vcf            = "/home/kothai/cq-git-sample/test_data/reference/reference/merged.filtered.recode.vcf.gz"
  merged_filtered_vcf_index      = "/home/kothai/cq-git-sample/test_data/reference/reference/merged.filtered.recode.vcf.gz.tbi"
 
				
				
				//==============================Tools================================//
  snpeff_jar                     = "/home/kothai/cq-git-sample/test_data/reference/Tools/snpEff/snpEff.jar"
  snpeff_config                  = "/home/kothai/cq-git-sample/test_data/reference/Tools/snpEff/snpEff.config"
  snpeff_db_dir                  = "/home/kothai/cq-git-sample/test_data/new_test/Tools/snpEff/snpEff/data"
  genomedb                       = "GRCh38.86"

  vep_cache                      = "/home/kothai/cq-git-sample/vc_and_gf/data/test/Tools/VEP/vep_cache"
 

  arriba_dir                     = "/home/kothai/cq-git-sample/test_data/reference/Tools/ARRIBA/arriba_v2.4.0"
  arriba_version                 = "2.4.0"
  
  samplesheet 					 = "/home/kothai/cq-git-sample/test_data/data/sample_sheet_new.csv"
  
  scatter_count = 3
}
