// workDir = '/mnt/c/rna_pipeline_data/data/work'

params {

  base_dir = System.getProperty('user.dir')
  ref_base = "/mnt/c/rna_pipeline_data/data_new"
  // ========================= Execution settings ========================== //

  resultsdir = "/mnt/d/rna_pipeline_data/data/results"
  cache_dir   = "/mnt/d/rna_pipeline_data/data/cache"
  

  // ============================== Input Data ============================== //

  samplesheet = "/home/kothai/cq-git-sample/test_data/data/samplesheet11.csv"


  // ===================== Variants VCF and Index ========================== //

  known_snps_vcf         = "/mnt/d/rna_pipeline_data/data/reference_files/chr22.dbsnp146.hg38.vcf.gz"
  known_snps_vcf_index   = "/mnt/d/rna_pipeline_data/data/reference_files/chr22.dbsnp146.hg38.vcf.gz.tbi"

  known_indels_vcf     = "/mnt/d/rna_pipeline_data/data/reference_files/chr22.Mills_indels.hg38.vcf.gz"
  known_indels_vcf_index = "/mnt/d/rna_pipeline_data/data/reference_files/chr22.Mills_indels.hg38.vcf.gz.tbi"


  // ============================= Reference =============================== //

  reference_genome = "/mnt/d/rna_pipeline_data/data/reference_files/genome.fa.gz"
  gtf_annotation        = "/mnt/d/rna_pipeline_data/data/reference_files/annotations.gtf.gz"
  

  // ============================= Tools =================================== //

  snpEff_jar     = "/mnt/c/rna_pipeline_data/data/snpEff/snpEff.jar"
  snpEff_config  = "/mnt/c/rna_pipeline_data/data/snpEff/snpEff.config"
  snpEff_db_dir  = "/mnt/c/rna_pipeline_data/data/snpEff/snpEff/data"
  genomedb       = "GRCh38.86"

  vep_cache      = "/mnt/c/rna_pipeline_data/data/VEP/homo_sapiens_vep_113_GRCh38"
  


  arriba_dir         = "/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/test_data/sample_ARRIBA"
  arriba_bin         = "${params.arriba_dir}/arriba"
  arriba_blacklist   = "${params.arriba_dir}/blacklist_chr22.tsv"
  arriba_known_fusions = "${params.arriba_dir}/known_fusions_chr22.tsv"



  arriba_version = "2.4.0"

  

  
}

// ========================== Logging & Reports (outside params) ========================== //
trace.enabled = true
trace.overwrite = true
trace.file = "${params.resultsdir}/trace.txt"

log.level = 'INFO'

timeline.enabled = true
timeline.overwrite = true
timeline.file = "${params.resultsdir}/timeline.html"

report.enabled = true
report.overwrite = true
report.file = "${params.resultsdir}/report.html"

dag.enabled = true
dag.overwrite = true
dag.file = "${params.resultsdir}/dag.png"

