// Global configurations
dag.overwrite = true

// Include other configuration files with correct paths
includeConfig 'configs/test/params_test.config'
includeConfig 'configs/main/profiles.config'
includeConfig 'configs/main/processes.config'
includeConfig 'configs/test/reference_test_paths.config'
includeConfig 'configs/test/custom_test.config'