params {
    // ========================== Pipeline Mode ==========================//
    mode = 'test' // Set mode: 'test' or 'actual'

    // ========================== Base Directories ==========================//
    base_dir = "$baseDir"
    data_dir = "$baseDir/data"
    test_dir = "$data_dir/test"
    actual_dir = "$data_dir/actual"
    cache_dir = "$baseDir/cache"
    outdir = "$baseDir/output"
	scripts_dir = "$baseDir/draw_fusions.R"
	only_fastqc_fastp = false
	container = "./vcfpy_pandas.sif"

    // ========================== Dataset-Specific Inputs ==========================//
    // Conditional paths for test/actual datasets
    reads = "${mode == 'test' ? test_dir : actual_dir}/fastp/trimmed_sample_*_{R1,R2}.fastq.gz"
	genome = "${mode == 'test' ? test_dir : actual_dir}/reference/genome.fa"
    variants = "${mode == 'test' ? test_dir : actual_dir}/reference/variants.vcf"
    denylist = "${mode == 'test' ? test_dir : actual_dir}/reference/denylist.bed"
	gtf_file = "${mode == 'test' ? test_dir : actual_dir}/reference/annotations.gtf"
	star_index_dir = "${mode == 'test' ? test_dir : actual_dir}/STAR_index"
    fasta_index = "${mode == 'test' ? test_dir : actual_dir}/genome.fa.fai"
    genome_dict = "${mode == 'test' ? test_dir : actual_dir}/genome.dict"
	filtered_vcf = "${mode == 'test' ? test_dir : actual_dir}/merged.filtered.recode.vcf.gz"
    filtered_vcf_index = "${mode == 'test' ? test_dir : actual_dir}/merged.filtered.recode.vcf.gz.tbi"
	

    // ========================== Test Mode-Specific Parameters ==========================//
    test_data_dir = "$data_dir/test" // Directory for test data
	test_csv_file = "$test_data_dir/samples_test.csv"
	test_data_genome = "ftp://ftp.ensembl.org/pub/current_fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.22.fa.gz"
	test_data_gtf = 'https://github.com/kothaiRaja/data_sample/raw/refs/heads/main/grch38/annotations.gtf'
	test_data_known_indels  = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz'
	test_data_dbsnp  = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz'
	test_data_denylist = "https://github.com/kothaiRaja/data_sample/raw/refs/heads/main/grch38/denylist_chr22_to_22.bed"
    test_blacklist_fusion = "${params.test_data_dir}/ARRIBA/arriba_v2.4.0/database/blacklist_chr22.tsv"
    test_knownfusion = "${params.test_data_dir}/ARRIBA/arriba_v2.4.0/database/known_fusions_chr22.tsv"
//    test_protein_db_fusion = "${params.test_data_dir}/ARRIBA/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3"
    
	
	// ========================== Actual Mode-Specific Parameters ==========================//
    actual_data_dir = "$data_dir/actual" // Directory for actual data
    actual_csv_file = "$actual_data_dir/samples_gpt.csv"
	actual_data_genome = "https://api.ncbi.nlm.nih.gov/datasets/v2/genome/accession/GCF_000001405.40/download?include_annotation_type=GENOME_FASTA&include_annotation_type=GENOME_GFF&include_annotation_type=RNA_FASTA&include_annotation_type=CDS_FASTA&include_annotation_type=PROT_FASTA&include_annotation_type=SEQUENCE_REPORT&hydrated=FULLY_HYDRATED"
	actual_data_gtf = 'ftp://ftp.ensembl.org/pub/release-109/gtf/homo_sapiens/Homo_sapiens.GRCh38.109.gtf.gz'
	actual_data_known_indels  = 'ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
	actual_data_dbsnp  = 'ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/Homo_sapiens_assembly38.dbsnp138.vcf.gz'
	actual_data_denylist = "https://www.encodeproject.org/files/ENCFF356LFX/@@download/ENCFF356LFX.bed"
    actual_blacklist_fusion = "${params.test_data_dir}/ARRIBA/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
    actual_knownfusion = "${params.test_data_dir}/ARRIBA/arriba_v2.4.0/database/known_fusions_hg38_GRCh38_v2.4.0.tsv.gz"

    // ========================== SnpEff Parameters ==========================//
    genomedb = 'GRCh38.86' // Genome version for SnpEff database
    snpeff_db_dir = './snpEff/data' // Directory for SnpEff databases
    snpeff_jar_dir = './snpEff' // Directory for the SnpEff tool
	snpeff_config = '/mnt/snpEff/snpEff.config'
    scatter_count = 3 // Number of parallel tasks
	
	//========================Common parameters==============================//
	merge_vcf = false 
	remove_duplicates = false
	validation_stringency = 'STRICT'
	
	//==========================Ensembl_vep==================================//
	// VEP cache directory
    vep_cache = "${mode == 'test' ? "${data_dir}/test/vep_cache" : "${data_dir}/actual/vep_cache"}"


    // ClinVar paths
    clinvar = "${mode == 'test' ? "${test_dir}/VEP/clinvar.vcf.gz" : "${actual_dir}/VEP/clinvar.vcf.gz"}"
    clinvar_tbi = "${mode == 'test' ? "${test_dir}/VEP/clinvar.vcf.gz.tbi" : "${actual_dir}/VEP/clinvar.vcf.gz.tbi"}"
	
	//=========================Variant filteration===========================//
	
	gatk_vf_window_size = 35
    gatk_vf_cluster_size = 3
    gatk_vf_qual_filter = 20.0
    gatk_vf_qd_filter = 1.5
    gatk_vf_fs_filter = 60.0
    gatk_vf_mq_filter = 30.0
    gatk_vf_sor_filter = 4.0
    gatk_vf_read_pos_filter = -5.0
    gatk_vf_baseq_filter = -3.0
    
    





}
