// Process Configurations


// ========================== Process Configuration ==========================
process {
    executor = 'local'
    cpus = 4
    memory = '16 GB'
    time = '4h'

}
         
process{
    withName: CONCAT_FASTQ {
        cpus = 2
        memory = '4 GB'
        time = '1h'
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withName: 'FASTQC_RAW' {
        
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withName: 'TRIM_READS' {
        
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: STAR_ALIGNMENT {
                 
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: SAMTOOLS_SORT_INDEX {
        cpus = 6
        memory = '16 GB'
        time = '2h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: SAMTOOLS_FILTER_ORPHANS {
        cpus = 4
        memory = '8 GB'
        time = '1h'
    }

    withName: SAMTOOLS_FLAGSTAT {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }

    withName: GATK_MARK_DUPLICATES {
        cpus = 8
        memory = '24 GB'
        time = '3h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: SPLIT_NCIGAR_READS {
        cpus = 8
        memory = '24 GB'
        time = '3h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: SAMTOOLS_CALMD {
        cpus = 6
        memory = '16 GB'
        time = '2h'
    }

    withName: GATK_RECALIBRATION {
        cpus = 8
        memory = '32 GB'
        time = '5h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: GATK_HAPLOTYPE_CALLER {
        cpus = 12
        memory = '24 GB'
        time = '8h'                
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: GATK_VARIANT_FILTER {
        cpus = 8
        memory = '24 GB'
        time = '3h'
        errorStrategy = 'retry'
        maxRetries = 2
    }


    withName: STAR_ALIGN_FUSION {
        cpus = 12
        memory = '24 GB'
        time = '5h'
    }

    withName: ARRIBA {
        cpus = 12
        memory = '24 GB'
        time = '5h'
    }

    withName: ARRIBA_VISUALIZATION {
        cpus = 4
        memory = '16 GB'
        time = '2h'
    }
}

