// Process Configurations


// ========================== Process Configuration ==========================
process {
    executor = 'local'
    cpus = 4
    memory = '16 GB'
    time = '4h'


         

    withName: 'CONCAT_FASTQ' {
        cpus = 2
        memory = '4 GB'
        time = '1h'
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withName: 'FASTQC_RAW' {
        cpus = 2
        memory = '4 GB'
        time = '1h'
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withName: 'TRIM_READS' {
        cpus = 4
        memory = '8 GB'
        time = '2h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'STAR_ALIGNMENT' {
        cpus = ${params.star_cpus}
        memory = ${params.star_memory}
        time = ${params.star_time}          
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'SAMTOOLS_SORT_INDEX' {
        cpus = 6
        memory = '16 GB'
        time = '2h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'SAMTOOLS_FILTER_ORPHANS' {
        cpus = 4
        memory = '8 GB'
        time = '1h'
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }

    withName: 'GATK_MARK_DUPLICATES' {
        cpus = 8
        memory = '24 GB'
        time = '3h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'SPLIT_NCIGAR_READS' {
        cpus = 8
        memory = '24 GB'
        time = '3h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'SAMTOOLS_CALMD' {
        cpus = 6
        memory = '16 GB'
        time = '2h'
    }

    withName: 'GATK_RECALIBRATION' {
        cpus = 8
        memory = '32 GB'
        time = '5h'
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: 'GATK_HAPLOTYPE_CALLER' {
        cpus = ${params.gatk_cpus}
        memory = ${params.gatk_memory}
        time = ${params.gatk_time}                
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: 'GATK_VARIANT_FILTER' {
        cpus = ${params.variant_filter_cpus}
        memory = ${params.variant_filter_memory}
        time = ${params.variant_filter_time}
        errorStrategy = 'retry'
        maxRetries = 2
    }


    withName: 'STAR_ALIGN_FUSION' {
        cpus = ${params.star_fusion_cpus}
        memory = $params.star_fusion_memory}
        time = ${params.star_fusion_time}
    }

    withName: 'ARRIBA' {
        cpus = ${params.arriba_cpus}
        memory = ${params.arriba_memory}
        time = ${params.arriba_time}
    }

    withName: 'ARRIBA_VISUALIZATION' {
        cpus = ${params.arriba_visualization_cpus}
        memory = ${params.arriba_visualization_memory}
        time = ${params.arriba_visualization_time}
    }
}

