// General process settings
process {
    executor = 'local'        
    memory = '8 GB'            
    cpus = 2                   
    time = '1h'                
}

process {
    withName: CHECK_OR_DOWNLOAD_REF_GENOME {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }

    withName: CHECK_OR_DOWNLOAD_VARIANTS_SNP {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }

    withName: DOWNLOAD_VARIANTS_SNP_INDEX {
        cpus = 1
        memory = '2 GB'
        time = '20m'
    }

    withName: INDEX_SNP_VCF {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName: CHECK_OR_DOWNLOAD_VARIANTS_INDELS {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }

    withName: INDEX_INDEL_VCF {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName: CHECK_OR_DOWNLOAD_DENYLIST {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }

    withName: CHECK_OR_DOWNLOAD_GTF {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }

    withName: DOWNLOAD_GENOME_INDEX {
        cpus = 1
        memory = '2 GB'
        time = '20m'
    }

    withName: CREATE_GENOME_INDEX {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }

    withName: CREATE_GENOME_DICT {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName: CREATE_STAR_INDEX {
        cpus = 8
        memory = '32 GB'
        time = '4h'
    }

   
    withName: FILTER_AND_MERGE_VCF {
        cpus = params.merge_vcf_cpus                 
        memory = params.merge_vcf_memory            
        time = params.merge_vcf_time                
    }

    withName: CHECK_JAVA {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }

    withName: DOWNLOAD_SNPEFF_TOOL {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }

    withName: DOWNLOAD_SNPEFF_DB {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName: DOWNLOAD_ARRIBA {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }

    withName: DOWNLOAD_VEP_CACHE {
        cpus = 4
        memory = '16 GB'
        time = '6h'
    }

    withName: DOWNLOAD_CLINVAR {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
}
