// ========================== User Parameters Config ========================== //
// This file allows users to override specific parameters without modifying the main configuration.
// To use this file, run:
// nextflow run main.nf -c nextflow_ref_main.config,user_params.config -profile singularity

params {
    // ========================== Base Directories ========================== //
    // Change the directory where output files will be stored.
    outdir = "$baseDir/output"
    resultsdir = "$baseDir/results"

    // ========================== Dataset Inputs ========================== //
    // Provide a custom sample sheet (CSV format)
    //samplesheet = ""

    // ========================== Reference Files ========================== //
    // If using a specific genome, override the reference genome path here.
    reference_genome_path = ""
    reference_genome_index_path = ""
    reference_genome_dict_path = ""

    reference_genome_gtf = ""
    reference_denylist_path = ""

    // ========================== SNP & Indel Variants ========================== //
    variants_snp_path = ""
    variants_snp_index_path = ""

    variants_indels_path = ""
    variants_indels_index_path = ""

    star_genome_index_path = ""

    // ========================== Tool Paths ========================== //
    // Set paths to bioinformatics tools if not using defaults
    snpeff_jar_dir_path = ""
    snpeff_jar_path = "${params.snpeff_jar_dir_path}/snpEff.jar"
    snpeff_config_path = "${params.snpeff_jar_dir_path}/snpEff.config"
    snpeff_db_dir_path = ""

    // Arriba tool path (for RNA fusion detection)
    arriba_tool_dir_path = ""

    // VEP Cache Path
    vep_cache_dir_path = "/home/kothai/cq-git-sample/vc_and_gf/data/test/Tools/VEP/vep_cache"
    

    // ClinVar Database Paths (for variant annotation)
    clinvar_path = ""
    clinvartbi_path = ""

    // ========================== Pipeline Behavior ========================== //
    // Enable or disable specific pipeline steps
    concatenate = false				//Concatenate the reads for same sample
	only_qc = false					// Set to true to run only qualtiy control
	only_variant_calling = true    // Set to true to run only variant calling
    only_fusion_detection = false   // Set to true to run only fusion detection
    remove_duplicates = true        // Set to true to remove duplicate reads
    merge_vcf = true                // Set to false if merging VCF files is not required

    // ========================== Resource Allocation ========================== //
    // Adjust memory and CPU limits
    max_memory = '32GB'
    max_cpus = 8

    // ========================== Variant Filtering Parameters ========================== //
    gatk_vf_window_size = 35
    gatk_vf_cluster_size = 3
    gatk_vf_qual_filter = 20.0
    gatk_vf_qd_filter = 1.5
    gatk_vf_fs_filter = 60.0
    gatk_vf_mq_filter = 30.0
    gatk_vf_sor_filter = 4.0
    gatk_vf_read_pos_filter = -5.0
    gatk_vf_baseq_filter = -3.0
	
	// ========================== User-Specific Resource Settings ========================== //


    // STAR Alignment 
    star_cpus = 12
    star_memory = '48 GB'
    star_time = '5h'

    // GATK Haplotype Caller
    gatk_cpus = 12
    gatk_memory = '64 GB'
    gatk_time = '8h'

    // Variant Filtering
    variant_filter_cpus = 8
    variant_filter_memory = '24 GB'
    variant_filter_time = '3h' 

	//Merge and filter vcf
	merge_vcf_cpus = 12               
    merge_vcf_memory = '32 GB'           
    merge_vcf_time = '6h' 
	
	// STAR Alignment for Gene Fusion Detection
    star_fusion_cpus = 12
    star_fusion_memory = '48 GB'
    star_fusion_time = '5h'

    // ARRIBA Fusion Detection
    arriba_cpus = 12
    arriba_memory = '48 GB'
    arriba_time = '5h'

    // ARRIBA Visualization
    arriba_visualization_cpus = 4
    arriba_visualization_memory = '16 GB'
    arriba_visualization_time = '2h'
}

