// ========================== Process Configuration ========================== //
process {
    // Default resource allocation categories
    withLabel: 'process_low' {
        cpus = 2
        memory = '8GB'
        time = '4h'
    }
    withLabel: 'process_medium' {
        cpus = 6
        memory = '38GB'
        time = '8h'
    }
    withLabel: 'process_high' {
        cpus = 12
        memory = '40GB'
        time = '16h'
    }
    withLabel: 'process_very_high' {
        cpus = 12
        memory = '40GB'
        time = '24h'
    }
}

