// ========================== nextflow.config ========================== //

// Dynamically detect the base directory where Nextflow is run
baseDir = System.getProperty('user.dir')
user_Home  = System.env.HOME

// ========================== Pipeline Parameters ========================== //
params {

    // === Directory structure ===
    base_dir             = "$baseDir"
    ref_base             = "$baseDir/reference"
	cache_dir			 = "$baseDir/cache"
	resultsdir			 = params.resultsdir ?: "${baseDir}/results"
	scripts_dir          = "$baseDir/scripts"
	singularity_cache    = "${user_Home}/singularity_containers"

    genome_build         = 'GRCh38'

    //=========================General Pipeline Behavior====================//
    concatenate = false
    run_fusion = true
    maftools = true
	
    

    // ========================== Dataset Inputs ==========================//
    samplesheet = ""
    

    // ========================== Reference Files ========================== //
    reference_genome              	= ""
    reference_genome_index       	= ""
    reference_genome_dict        	= ""
    gtf_annotation               	= ""
	exons_bed				   		= ""
	known_snps_vcf          		= ""
    known_snps_vcf_index     		= ""
    known_indels_vcf        		= ""
    known_indels_vcf_index 			= ""
    star_genome_index            	= ""
	snpEff_jar						= ""
	snpEff_config					= ""
	snpEff_db_dir 					= ""
	genomedb   						= 'GRCh38.86'
	vep_cache 						= "" 
	vep_plugins						= ""
	arriba_dir						= ""
	arriba_version                  = '2.4.0'
	cytobands 						= ""
	protein_domains					= ""
	
	
    
	
	// ========================== Tool config ========================== //
    

    
	snpeff_jar_dir = './snpEff'
	snpeff_jar     = "${params.snpeff_jar_dir}/snpEff.jar"
	snpeff_config  = "${params.snpeff_jar_dir}/snpEff.config"
	snpeff_db_dir  = "${params.snpeff_jar_dir}/data"
    
   
    // ----- VEP Info -----//
    ensembl_release                   = "113"     
    genome_assembly                   = "GRCh38"  
    species                           = "homo_sapiens" 
	
   //===========================ARRIBA===============================//
   
    
 
	

    
    


    // ========================== Download URLs ========================== //
    genome_download_url              = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/GRCh38.primary_assembly.genome.fa.gz"
    genome_index_download_url        = ""
    gtf_download_url                 = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.annotation.gtf.gz"
	variants_url					 = "ftp://ftp.ncbi.nlm.nih.gov/snp/organisms/human_9606/VCF/00-All.vcf.gz"

    

	
	//==========================Intervals list parameters==============//
	no_intervals = true
	scatterintervals = false
    scatter_count = 3
	
	//========================Fastqc=====================//
	
	fastqc_container = "https://depot.galaxyproject.org/singularity/fastqc%3A0.12.1--hdfd78af_0"
	fastqc_outdir = "${params.resultsdir}/FASTQC"
	
	//==========================Fastp parameters===============================//

	 // Fixed output directory → All trimming outputs go to MultiQC input
    trim_reads_outdir = "${params.resultsdir}/FASTP"
	fastp_extra = "--detect_adapter_for_pe --length_required 50"

    // Fixed container (not user-defined)
    trim_reads_container = "https://depot.galaxyproject.org/singularity/fastp%3A0.23.4--h125f33a_5"

	
	
	// ========================== STAR Alignment Defaults ========================== //


    // Fixed Container (Not User-Defined)
    star_container = "https://depot.galaxyproject.org/singularity/star%3A2.7.11a--h0033a41_0"
	

    read_length             = 101        // Read length of input data; used for setting --sjdbOverhang = read_length - 1
	star_ignore_sjdbgtf     = false      // If true, skip using the GTF file for splice junctions
	seq_platform            = 'ILLUMINA' // Sequencing platform (used in SAM header: PL tag)
	seq_center              = 'RBCT'     // Sequencing center name (used in SAM header: CN tag)

	// --- Intron alignment parameters ---
	star_alignIntronMin              = 20         // Minimum intron size for alignment
	star_alignIntronMax              = 1000000    // Maximum intron size for alignment

	// --- Splice junction settings ---
	star_alignSJoverhangMin          = 8          // Minimum overhang for a splice junction
	star_alignSJDBoverhangMin        = 1          // Minimum overhang when using annotated junctions from GTF

	// --- Mismatch and alignment filtering ---
	star_outFilterMismatchNmax       = 999        // Maximum number of mismatches (set high to rely on other filters)
	star_outFilterMatchNmin          = 16         // Minimum number of matched bases
	star_outFilterMatchNminOverLread = 0.3        // Minimum matched bases as a fraction of read length
	star_outFilterScoreMinOverLread  = 0.3        // Minimum alignment score as a fraction of read length
	star_mismatchNoverLmax           = 0.04       // Max mismatches per read length (useful for error rate filtering)
	star_outSAMmapqUnique            = 60         // MAPQ score to assign to uniquely mapped reads

	// --- Chimeric read detection (for fusion genes) ---
	star_chimSegmentMin            = 10         // Minimum length of a chimeric segment
	star_chimJunctionOverhangMin  = 10         // Minimum overhang at chimeric junction
	star_chimScoreJunctionNonGTAG = -4         // Penalty for non-GTAG junctions in chimera
	star_chimScoreMin             = 1          // Minimum total chimeric alignment score
	star_chimScoreDropMax         = 50         // Max drop in score to keep alternative chimeric alignment
	star_chimScoreSeparation      = 10         // Minimum score difference between top chimeric alignments


	// --- Extra STAR arguments (optional) ---
	star_extra_args = ''                      // Custom extra STAR options (e.g., '--outSAMattrIHstart 0')

    // Fixed STAR Output Directory → All STAR outputs go into this directory
    star_outdir = "${params.resultsdir}/STAR"
	
	//=============================Samtools=========================//
	
	samtools_container = "https://depot.galaxyproject.org/singularity/samtools%3A1.18--hd87286a_0"
    samtools_outdir = "${params.resultsdir}/SAMTOOLS/SORTED_BAMS"
	samtools_stats_outdir = "${params.resultsdir}/SAMTOOLS/Aligned_STATS"
	samtools_filter_outdir = "${params.resultsdir}/SAMTOOLS/FILTERED_BAMS"
	samtools_flagstat_outdir = "${params.resultsdir}/SAMTOOLS/FLAGSTATS"
	samtools_idx_outdir = "${params.resultsdir}/SAMTOOLS/IDX"
	
	// ------------------------- MarkDuplicates --------------------//
	remove_duplicates      = false  
	validation_stringency  = "STRICT"

	// GATK Validation Stringency:
	// STRICT  = aborts on any format issues (default, recommended for clean inputs)
	// LENIENT = logs warning  s but continues (use if your BAMs have known minor format issues)
	// SILENT  = skips all checks (not recommended)
	
	// ----------------------- Variant Filtering ----------------------//
	// Controls how variant filtering is applied. Two modes:
	// "select" = use VariantFiltration followed by SelectVariants (recommended)
	// "global" = uses VariantFiltration directly on final VCF (less flexible)
	
	variant_filter_mode = "global"  // Options: "select", "global"
	
	// Recommended hard-filter thresholds from GATK Best Practices for RNA-seq:
	gatk_vf_qual_filter       = 30.0   // QUAL < 30 → low confidence variant
	gatk_vf_qd_filter         = 2.0    // QD < 2.0 → low quality normalized by depth
	gatk_vf_fs_filter         = 60.0   // FS > 60 → high strand bias (FisherStrand test)
	gatk_vf_mq_filter         = 40.0   // MQ < 40 → poor mapping quality
	gatk_vf_sor_filter        = 3.0    // SOR > 3 → strong strand bias (Symmetric Odds Ratio)
	gatk_vf_read_pos_filter   = -8.0   // ReadPosRankSum < -8 → alt allele near read ends
	gatk_vf_baseq_filter      = -6.0   // BaseQRankSum < -6 → alt allele has low base quality
	  gatk_vf_window_size     = 35    
  gatk_vf_cluster_size        = 3     
	
	//==========================GATK============================//
	
	gatk_container = "https://depot.galaxyproject.org/singularity/gatk4%3A4.4.0.0--py36hdfd78af_0"
	
	markduplicates_outdir = "${params.resultsdir}/GATK/MARKDUPLICATES"
	markduplicates_metrics = "${params.resultsdir}/GATK/MARKDUPLICATES"
	bed_to_interval_outdir = "${params.resultsdir}/GATK/INTERVALS"
    scatter_intervals_outdir = "${params.resultsdir}/GATK/SCATTERED_INTERVALS"
	split_ncigar_outdir = "${params.resultsdir}/GATK/SPLITNCIGAR"
	merge_bam_outdir = "${params.resultsdir}/GATK/MERGED_BAMS"
	merged_calmd_outdir = "${params.resultsdir}/GATK/CALMD_BAMS"
	recalibration_table_outdir = "${params.resultsdir}/GATK/BSQR_recal_Tables"
	recalibrated_bams_outdir = "${params.resultsdir}/GATK/RECALIBRATED_BAMS"
	haplotype_caller_outdir = "${params.resultsdir}/GATK/HAPLOTYPECALLER"
	merged_vcf_outdir = "${params.resultsdir}/GATK/MERGED_VCF"
	variant_filter_outdir = "${params.resultsdir}/GATK/VARIANT_FILTER"
	snp_select_outdir = "${params.resultsdir}/GATK/SELECT_VARIANTS_SNPs"
	indels_select_outdir = "${params.resultsdir}/GATK/SELECT_VARIANTS_INDELS"
	vcf2table_outdir = "${params.resultsdir}/GATK/VCF2TABLE"
	rg_reset_outdir = "${params.resultsdir}/GATK/RESET_RG"

	
	//============================Bcftools===========================//
	bcftools_container= "https://depot.galaxyproject.org/singularity/bcftools%3A1.3--h577a1d6_9"
	bcftools_stats_outdir = "${params.resultsdir}/BCFTOOLS/STATS"
	bcftools_query_outdir = "${params.resultsdir}/BCFTOOLS/QUERY"
	
	//============================Annotate container====================//
	
	annotate_container_snpeff = "https://depot.galaxyproject.org/singularity/snpeff%3A5.2--hdfd78af_1"
	annotate_vep_container = "https://depot.galaxyproject.org/singularity/ensembl-vep%3A113.0--pl5321h2a3209d_0"
	annotate_outdir = "${params.resultsdir}/ANNOTATION/SNPEff"
	annotate_vep_outdir = "${params.resultsdir}/ANNOTATION/VEP"
	annotated_vcf_compressed = "${params.resultsdir}/ANNOTATION/compressed_Annotations"
	
	genome_assembly = "GRCh38"
    species         = "homo_sapiens"
    cache_version   = "113"
	
	// ========================== Annotation Tools ========================== //
	// Choose the variant annotation tool(s) to run.
	// Options:
	//   ['snpeff']  → Use only snpEff
	//   ['vep']     → Use only Ensembl VEP
	//   ['combine'] → Use both snpEff and VEP (recommended for comprehensive annotation)
	
	annotation_tools = ['combine']

	// Optional VEP plugin flags
	// Provide desired plugins (space-separated). Requires corresponding cache/plugins installed.
	// Examples:
	//   --plugin LoF             → Predict loss-of-function impact
	//   --plugin CADD            → Combined annotation score from CADD
	//   --plugin PolyPhen_SIFT   → Predict deleterious effects using SIFT and PolyPhen
	//   --plugin REVEL           → Rare Exome Variant Ensemble Learner
	
	
	vep_plugin_flags = ""
	vep_extra        = "--fork 4 --everything"
	
	
	
	//============================Multiqc===========================//
	
	software_versions_outdir = "${params.resultsdir}/VERSIONS"
	multiqc_container = "https://depot.galaxyproject.org/singularity/multiqc%3A1.11--pyhdfd78af_0"
	
	multiqc_quality_container = "https://depot.galaxyproject.org/singularity/multiqc%3A1.24.1--pyhdfd78af_0"
	multiqc_outdir = "${params.resultsdir}/MULTIQC"
	
	//===========================Gene Fusion=============================//
	
	arriba_container = "https://depot.galaxyproject.org/singularity/arriba%3A2.4.0--hdbdd923_3"
	arriba_outdir = "${params.resultsdir}/ARRIBA/ARRIBA"
	
	r_base_container = "https://depot.galaxyproject.org/singularity/r-base%3A4.4.1"
	visualisation_outdir = "${params.resultsdir}/ARRIBA/ARRIBA_visualisation" 
	
	//===========================Script===========================//
	
	dump_script = "${params.scripts_dir}/dumpsoftwareversions.py"
	
	//========================maftools========================//
	
	maftools_container = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7c/7cbf9421f0bee23a93a35c5d0c7166ac1e89a40008d8e474cecfddb93226bf65/data"
	maftools_outdir = "${params.resultsdir}/MAFTOOLS/vcf2maf"
	
	maftools_visualisation_container = "https://depot.galaxyproject.org/singularity/bioconductor-maftools%3A2.16.0--r43ha9d7317_0"
	maftools_visual_outdir = "${params.resultsdir}/MAFTOOLS/visualisation"
	
	rscript = "${params.scripts_dir}/plot_maf_report.R"
	

    // ========================== Additional Parameters ========================== //
    container = "./vcfpy_pandas.sif"
	
	
   
}

// ========================== Process Configuration ========================== //
process {
    // Default resource allocation categories
    withLabel: 'process_low' {
        cpus = 2
        memory = '8GB'
        time = '4h'
    }
    withLabel: 'process_medium' {
        cpus = 6
        memory = '36GB'
        time = '8h'
    }
    withLabel: 'process_high' {
        cpus = 12
        memory = '47GB'
        time = '16h'
    }
    withLabel: 'process_very_high' {
        cpus = 12
        memory = '47GB'
        time = '24h'
    }
}


