profiles {

    // singularity profile
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${HOME}/singularity_containers/"
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    // test profile
    test {
        includes = ['singularity']  
        process.executor = 'local'
        process.cpus = 2
        process.memory = '4 GB'
        params {
            ref_base    = "${baseDir}/test_data"  
            test_mode   = true
            resultsdir  = "${baseDir}/resultsdir/test_output"
            cachedir    = "${baseDir}/work/test_cache"
        }
    }
}
