// ========================== nextflow.config ========================== //

// Define the base directory dynamically, where the pipeline is run
baseDir = System.getProperty('user.dir')

params {
    // ========================== Base Directories ==========================//
    base_dir = "$baseDir"
    data_dir = "$baseDir/data"
    main_data_dir = "$data_dir/main" 
    cache_dir = "$baseDir/cache"
    outdir = "$baseDir/output"
    resultsdir = "$baseDir/results"
    scripts_dir = "$baseDir/scripts"
    reference_dir = "${params.main_data_dir}/reference"
    generated_config_file = "${params.base_dir}/configs/main/reference_test_paths.config"
    genome_build = 'GRCh38'
	
	//=========================General Pipeline Behavior====================//
    concatenate = false
    only_qc = false
	skip_star = false
	select_variants = true
	annotation_tools = ['combine'] 
    

    // ========================== Dataset Inputs ==========================//
    samplesheet = ""
	strandedness_map = ""

    // ========================== Reference Files ========================== //
    reference_genome_path = ""
    reference_genome_index_path = ""
    reference_genome_dict_path = ""

    reference_genome_gtf = ""
    reference_denylist_path = ""

    variants_snp_path = ""
    variants_snp_index_path = ""

    variants_indels_path = ""
    variants_indels_index_path = ""

    star_genome_index_path = ""

    // ========================== Tool Paths ========================== //
    snpeff_jar_dir_path = ''
    snpeff_jar_path = "${params.snpeff_jar_dir_path}/snpEff.jar"
    snpeff_config_path = "${params.snpeff_jar_dir_path}/snpEff.config"
    snpeff_db_dir_path = ''
    arriba_tool_dir_path = ''
    vep_cache_dir_path = ''
    vep_cache_dir = "${params.main_data_dir}/Tools/VEP"

   

    // ========================== Download URLs ========================== //
    genome_download_url = "ftp://ftp.ensembl.org/pub/current_fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.22.fa.gz"
    genome_index_download_url = ""
    gtf_download_url = "https://github.com/kothaiRaja/vc_and_gf/raw/refs/heads/master/reference_files/annotations.gtf.gz"
    denylist_download_url = "https://github.com/kothaiRaja/vc_and_gf/raw/refs/heads/master/reference_files/denylist_chr22_to_22.bed.gz"
    variants_snp_download_url = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz"
    variants_snp_index_download_url = ""
    variants_indels_download_url = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz"
    variants_indels_index_download_url = ""

    // ========================== Tool Paths ========================== //
    genomedb = 'GRCh38.86'  // Genome version for SnpEff database
    snpeff_db_dir = './snpEff/data'
    snpeff_jar_dir = './snpEff'
    //snpeff_config = '/mnt/snpEff/snpEff.config'
	
	//==========================Intervals list parameters==============//
	scatterintervals = true
    scatter_count = 3
	
	//========================Fastqc=====================//
	
	fastqc_container = "https://depot.galaxyproject.org/singularity/fastqc%3A0.12.1--hdfd78af_0"
	fastqc_outdir = "${params.outdir}/multiqc_input"
	//==========================Fastp parameters===============================//

	 // Fixed output directory → All trimming outputs go to MultiQC input
    trim_reads_outdir = "${params.outdir}/multiqc_input"

    // Fixed container (not user-defined)
    trim_reads_container = "https://depot.galaxyproject.org/singularity/fastp%3A0.23.4--h125f33a_5"

    // Trimming parameters
    trim_reads_detect_adapters = true
    trim_reads_adapter_sequence = "auto"
    trim_reads_adapter_sequence_r2 = "auto"
    trim_reads_length_required = 50
    trim_reads_cut_front = true
    trim_reads_cut_tail = true
    trim_reads_cut_window_size = 4
    trim_reads_cut_mean_quality = 20
	
	
	// ========================== STAR Alignment Defaults ========================== //

    

    // Fixed Container (Not User-Defined)
    star_container = "https://depot.galaxyproject.org/singularity/star%3A2.7.11a--h0033a41_0"

    // STAR Alignment Output Type (Fixed)
    star_out_sam_type = "BAM SortedByCoordinate"

    // Read Filtering (Fixed Defaults)
    star_alignSJoverhangMin = 8
    star_alignSJDBoverhangMin = 1
    star_outFilterMismatchNmax = 999
    star_outFilterMatchNmin = 16
    star_outFilterScoreMinOverLread = 0.3

    // Chimeric Read Filtering (For Gene Fusion Detection)
    star_chimScoreJunctionNonGTAG = -4
    star_chimScoreDropMax = 50
    star_chimScoreSeparation = 10
    star_chimOutType = "WithinBAM SeparateSAMold"


    // Sequencing Platform Defaults (Fixed)
    seq_platform = "ILLUMINA"
    seq_center = "MySeqCenter"

    // Fixed STAR Output Directory → All STAR outputs go into this directory
    star_outdir = "${params.outdir}/star_output"
	
	//=============================Samtools=========================//
	
	samtools_container = "https://depot.galaxyproject.org/singularity/samtools%3A1.18--hd87286a_0"
    samtools_outdir = "${params.outdir}/sorted_bam"
	samtools_stats_outdir = "${params.outdir}/multiqc_input"
	samtools_filter_outdir = "${params.outdir}/filtered_bam"
	samtools_flagstat_outdir = "${params.outdir}/multiqc_input"
	samtools_idx_outdir = "${params.outdir}/multiqc_input"
	
	//==========================GATK============================//
	
	gatk_container = "https://depot.galaxyproject.org/singularity/gatk4%3A4.4.0.0--py36hdfd78af_0"
	
	markduplicates_outdir = "${params.outdir}/dedup_bam"
	markduplicates_metrics = "${markduplicates_outdir}/duplication_metrics.txt"
	bed_to_interval_outdir = "${params.outdir}/intervals"
    scatter_intervals_outdir = "${params.outdir}/scattered_intervals"
	split_ncigar_outdir = "${params.outdir}/split_ncigar"
	merge_bam_outdir = "${params.outdir}/merged_bam"
	merged_calmd_outdir = "${params.outdir}/calmd"
	recalibration_table_outdir = "${params.outdir}/recal_tables"
	recalibrated_bams_outdir = "${params.outdir}/recalibrated_bams"
	haplotype_caller_outdir = "${params.outdir}/haplotype_caller"
	merged_vcf_outdir = "${params.outdir}/merged_vcf"
	variant_filter_outdir = "${params.outdir}/variant_filter"
	snp_select_outdir = "${params.outdir}/selected_variants"
	indels_select_outdir = "${params.outdir}/selected_variants_indels"
	
	//============================Bcftools===========================//
	bcftools_container= "https://depot.galaxyproject.org/singularity/bcftools%3A1.3--h577a1d6_9"
	bcftools_stats_outdir = "${params.outdir}/multiqc_input"
	bcftools_query_outdir = "${params.outdir}/multiqc_input"
	
	//============================Annotate container====================//
	
	annotate_container_snpeff = "https://depot.galaxyproject.org/singularity/snpeff%3A5.2--hdfd78af_1"
	annotate_vep_container = "https://depot.galaxyproject.org/singularity/ensembl-vep%3A113.0--pl5321h2a3209d_0"
	annotate_outdir = "${params.outdir}/annotations"
	annotate_vep_outdir = "${params.outdir}/annotations"
	
	genome_assembly = "GRCh38"
    species         = "homo_sapiens"
    cache_version   = "113"
	
	//============================Multiqc===========================//
	
	software_versions_outdir = "${params.outdir}/software_versions"
	multiqc_container = "https://depot.galaxyproject.org/singularity/multiqc%3A1.11--pyhdfd78af_0"
	
	multiqc_quality_container = "https://depot.galaxyproject.org/singularity/multiqc%3A1.24.1--pyhdfd78af_0"
	multiqc_qualtiy_outdir = "${params.outdir}/multiqc_quality"
	
	//===========================Gene Fusion=============================//
	
	arriba_container = "https://depot.galaxyproject.org/singularity/arriba%3A2.4.0--hdbdd923_3"
	arriba_outdir = "${params.outdir}/ARRIBA"
	
	r_base_container = "https://depot.galaxyproject.org/singularity/r-base%3A4.4.1"
	visualisation_outdir = "${params.outdir}/ARRIBA_visualisation" 
	
	//===========================Script===========================//
	
	dump_script = "${params.scripts_dir}/dumpsoftwareversions.py"
	



    // ========================== Variant Filtering Parameters ==========================//
    // Variant Filtration Parameters
    gatk_vf_window_size       = 35
    gatk_vf_cluster_size      = 3
    gatk_vf_qual_filter       = 30.0
    gatk_vf_qd_filter         = 2.0
    gatk_vf_fs_filter         = 60.0
    gatk_vf_mq_filter         = 30.0
    gatk_vf_sor_filter        = 4.0
    gatk_vf_read_pos_filter   = -2.0
    gatk_vf_baseq_filter      = -2.0
    // ========================== Additional Parameters ========================== //
    container = "./vcfpy_pandas.sif"

    
}

