  
            params.reference_genome = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/genome.fa'
            params.reference_genome_index = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/genome.fa.fai'
			params.reference_genome_dict = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/genome.dict'
			params.gtf_annotation = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/annotations.gtf'
			params.exons_BED = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/exons.bed'
			params.star_genome_index = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/STAR_index'
			params.denylist_bed = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/denylist.bed'
			params.variants_snp = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/variants_snp.vcf.gz'
            params.variants_snp_index = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/variants_snp.vcf.gz.tbi'
			params.variants_indels = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/variants_indels.vcf.gz'
            params.variants_indels_index = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/variants_indels.vcf.gz.tbi'
			params.merged_vcf = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/merged.filtered.recode.vcf.gz'
			params.merged_vcf_index = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/reference/merged.filtered.recode.vcf.gz.tbi'
			params.snpeff_jar = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/Tools/snpEff/snpEff.jar'
            params.snpeff_config = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/Tools/snpEff/snpEff.config'
			params.snpeff_db = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/Tools/snpEff/snpEff/data/GRCh38.86'
			params.arriba_tool_dir = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/Tools/ARRIBA/arriba_v2.4.0'
			params.arriba_known_fusions = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/Tools/ARRIBA/arriba_v2.4.0/database/known_fusions_hg38_GRCh38_v2.4.0.tsv.gz'
			params.arriba_blacklist = '/home/kothai/cq-git-sample/Variantcalling-and-Genefusion/data/main/Tools/ARRIBA/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz'
			params.protein_domains = '/home/kothai/cq-git-sample/vc_and_gf/data/main/Tools/ARRIBA/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3'
			params.cytobands = '/home/kothai/cq-git-sample/vc_and_gf/data/main/Tools/ARRIBA/arriba_v2.4.0/database/cytobands_hg38_GRCh38_v2.4.0.tsv'
			params.vep_cache_dir = '/home/kothai/cq-git-sample/vc_and_gf/data/test/Tools/VEP/vep_cache'
			
            